.{ 
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }

#top {
    height: 5em;
}

#display {
    background-color: cadetblue;
    flex: 1;
}
#add-button {
    background-color: #555;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top : 1rem;
    right: 2rem;
    width: 10rem;
  }

#input-popup {
    display: none;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  #book-form {
    box-sizing: border-box;
    max-width: 20rem;
    padding: 2rem;
    background-color: white;
  }

  #book-form input{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    margin: 00.25rem;
    border: none;
    background: #f1f1f1;
  }

  #book-form .btn {
    background-color: #04AA6D;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    opacity: 0.8;
  }

  #book-form .cancle {
      background-color: red;
  }

  .delbutton {
    height: 1.5rem;
    width: 3.5rem;
    background-color: blue;
  }